* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Table Section Start */
#table {
  border: 1px solid #333;
  position: relative;
  user-select: none;
  .rows {
    margin-bottom: 5px;
    .cell {
      width: 51px;
      height: 45px;
      border: 1px solid #eee;
      line-height: 45px;
      text-align: center;
      display: inline-block;
      &.dinamicCell {
        border: 1px solid #fff;
        &.blue {
          background-color: #0c5460;
        }
      }
    }
  }
  .selectDiv {
    background-color: lightseagreen;
    opacity: 0.6;
    position: absolute;
    z-index: 1000;
    border: 2px solid brown;
  }
}
/* Table Section End */

/* Control Section Start */
#controls {
  width: 40%;
  .item {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 40%;
    margin: 10px;
    &.purple {
      background-color: palevioletred;
    }
    &.green {
      background-color: lightgreen;
    }
  }
}
/* Control Section End */